{% extends 'base.html' %}
{% block content %}

<h1>Countries</h1>

<form method="get">
  <input type="search" name="search" placeholder="Search Countries">
</form>

<table class="striped list-table">
  <thead>
    <tr>
      <th><a href="?order_by=name&sort={{ sort_type }}">Countries</a></th>
      <th><a href="?order_by=infected&sort={{ sort_type }}">Current Cases</a></th>
    </tr>
  </thead>
  <tbody>
    {% for country in country_list %}
      <tr class="clickable" data-href="{% url 'countries_detail' country.id %}">
        <td>{{ country.name }}</td>
        <td data-val="">{{ country.infected }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}