{% extends 'base.html' %}
{% block content %}

<h1 class="center">{{ country.name }}</h1>

{% if user.is_authenticated %}
  <div>
    {% if country in user.country_set.all  %}
      <form action="{% url 'unassoc_country' country.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Untrack">
      </form>
    {% else %}
      <form action="{% url 'assoc_country' country.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Track">
      </form>
    {% endif %}
  </div>
{% endif %}

<div class="container world">
  <div class="centered">
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <table class="responsive-table centered">   
            <thead>
              <tr>
                <th>Confirmed Cases</th>
                <th>Recovered Cases</th>
                <th>Deaths</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ country.infected }}</td>
                <td>{{ country.recovered }}</td>
                <td>{{ country.deaths }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% if country.province_set.first %}
  <a href="{% url 'provinces_index' country.id %}">Provinces</a>
{% endif %}

<h1 class="left">Comments</h1>
<div class="row">
  {% if user.is_authenticated %}
    <form class="col s12" action="{% url 'add_comment' country.id %}" method="post">
      {% csrf_token %}
      {{ comment_form }}
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="right material-icons">send</i>
      </button>
    </form>
  {% endif %}
</div>

<div class="row">
  {% for comment in country.comment_set.all %}
    <h4 class="left"><a href="{% url 'profiles_detail' comment.created_by.id %}">{{ comment.created_by.username }}</a></h4>
    <img src="{{ comment.created_by.profile.avatar }}" width=70px height=50px>
    <div>
      <p>{{ comment.content }}</p>
      <p>{{ comment.posted_at }}</p>
    {% if user.id == comment.created_by.id %}
      <button id="edit-btn" data-id="{{ forloop.counter }}">Edit</button>
    </div>
    <div class="edit-form" data-id="{{ forloop.counter }}">
      <form action="{% url 'update_comment' country.id comment.id %}" method="post">
        {% csrf_token %}
        <textarea name="content" maxlength="250" required>{{ comment.content }}</textarea>
        <input type="submit" value="Update">
      </form>
      <form action="{% url 'delete_comment' country.id comment.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
      </form>
    {% endif %}
    </div>
  {% endfor %}
</div>

{% endblock %}