{% extends 'base.html' %}
{% block content %}

<h1>Profiles</h1>

<form method="get">
  <input type="search" name="search" placeholder="Search Profiles">
</form>

<table class="highlight">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for u in user_list %}
      <tr class="clickable" data-href="{% url 'profiles_detail' u.id %}">
        <td><img src="{{ u.profile.avatar }}"></td>
        <td>{{ u.username }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}