{% extends 'base.html' %}
{% block content %}

<h1>Provinces</h1>

<form method="get">
  <input type="search" name="search" placeholder="Search Provinces">
</form>

<table class="highlight">
  <thead>
    <tr>
      <th><a href="?order_by=name&sort={{ sort_type }}">Province</a></th>
      <th><a href="?order_by=infected&sort={{ sort_type }}">Current Cases</a></th>
      <th><a href="?order_by=recovered&sort={{ sort_type }}">Recovered Cases</a></th>
      <th><a href="?order_by=deaths&sort={{ sort_type }}">Deaths</a></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for province in province_list %}
      <tr>
        <td>{{ province.name }}</td>
        <td>{{ province.infected }}</td>
        <td>{{ province.recovered }}</td>
        <td>{{ province.deaths }}</td>
        {% if province.county_set.first %}
          <td><a href="{% url 'counties_index' province.id %}">Counties</a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}