{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="//db.onlinewebfonts.com/c/6ca68131925d7aa08c97e57d9e8b2ed7?family=Cloister+Black" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
  <title>Corona Chasers</title>
</head>
<body>
  <header class="navbar-fixed">
    <nav class="nav-wrapper blue darken-2">
      <a href="{% url 'home' %}" class="brand-logo">Corona Chasers</a>
      <a href="#" class="sidenav-trigger" data-target="mobile-links">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'home' %}">WORLD</a></li>
        <li><a href="{% url 'countries_index' %}">COUNTRIES</a></li>
        <li><a href="{% url 'profiles_index' %}">USER PROFILES</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'profiles_detail' user.id %}">{{ user.username|upper }}</a></li>
          <li><a href="{% url 'logout' %}">LOG OUT</a></li>
        {% else %}
          <li><a href="{% url 'signup' %}">SIGN UP</a></li>
          <li><a href="{% url 'login' %}">LOG IN</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  
  <ul class="sidenav right" id="mobile-links">
    <li><a href="{% url 'home' %}">WORLD</a></li>
    <li><a href="{% url 'countries_index' %}">COUNTRIES</a></li>
    <li><a href="{% url 'profiles_index' %}">USER PROFILES</a></li>
    {% if user.is_authenticated %}
      <li><a href="{% url 'profiles_detail' user.id %}">{{ user.username }}</a></li>
      <li><a href="{% url 'logout' %}">LOG OUT</a></li>
    {% else %}
      <li><a href="{% url 'signup' %}">SIGN UP</a></li>
      <li><a href="{% url 'login' %}">LOG IN</a></li>
    {% endif %}
  </ul>
  
  <main class="container">
    {% block content %}
    {% endblock %} 
  </main>
  
  <footer class="page-footer blue darken-2">
    <div class="center">&copy; 2020 Corona Chasers</div>
  </footer>
  
  <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>