{% extends 'base.html' %}
{% block content %}

<h1 class="center">World</h1>
<div class="container world">
  <div class="centered">
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <table class="responsive-table centered">   
            <thead>
              <tr>
                <th>Confirmed Cases</th>
                <th>Recovered Cases</th>
                <th>Deaths</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ world.infected }}</td>
                <td>{{ world.recovered }}</td>
                <td>{{ world.deaths }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<hr>
<br>
<br>

<h3 class="center">Tips To Protect Yourself and Others</h3>
<div class="container">
  <div class="center">
    <div class="col s12 m6 l6">
      <div class="center-align card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://i.imgur.com/pDMe8zr.png">
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<h3 class="center">How To Properly Wash Your Hands</h3>

<div class="container">
  <div class="center">
    <div class="col s12 m6 l6">
      <div class="center-align card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://i.imgur.com/E4wEa9U.gif">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="health-tips container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://i.imgur.com/Lnr8a4U.png">
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://i.imgur.com/uR1rJVF.png">
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://i.imgur.com/AVnTwls.png">
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://i.imgur.com/54LzE6M.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m6 l8">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Guidelines provided by the World Health Organization</span>
          <ol>
            <li>Wash your hands often</li>
            <li>If you have to cough, do it into your elbow</li>
            <li>Don't touch your face</li>
            <li>Keep safe distance when walking around others</li>
            <li>Stay home if you can</li>
          </ol>
        </div>
        <div class="card-action">
          <a href="#">Click Here For More Detail</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12 m6 l8">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Steps For Washing Your Hands</span>
          <ol>
            <li>Wet your hands with clean, running water (warm or cold), turn off the tap, and apply soap.</li>
            <li>Lather your hands by rubbing them together with the soap. Lather the backs of your hands, between your fingers, and under your nails.</li>
            <li>Scrub your hands for at least 20 seconds. Need a timer? Hum the “Happy Birthday” song from beginning to end twice.</li>
            <li>Rinse your hands well under clean, running water.</li>
            <li>Dry your hands using a clean towel or air dry them.</li>
          </ol>
        </div>
        <div class="card-action">
          <a href="#">Click Here For More Detail</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}